* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    /* position: absolute;  */
   
}

@keyframes scaleIn {
    from {
      transform: scale(0);
    }
  
    to {
        transform: scale(1);
    }
  }

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
}

.container {
    /* position: absolute; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(10, 10, 10);
}
.container-header {
    width: 100%;
    height: 60%;
    position: relative;
}
.sidebar {
    color: #fff;
    position: fixed;
    background-color: #1a1919;
    height: 100vh;
    z-index: 11;
    right: 0px;
    display: flex;
    gap: 1rem;
    text-align: center;
    width: 0px;
    flex-direction: column;
    transition: .3s;
    padding-top: 1rem;
}
.active-sidebar {
    width: 200px;
    
}
.sidebar a:hover {
    text-decoration: underline;
}
.container-header #header-menu-sidebar {
    display: none;
}

.header-menu > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.header-menu .toggle-menu {
    padding-right: 1rem;
    cursor: pointer;
    /* background-color: purple; */
}
.toggle-menu img {
    display: flex;
    width: 30px;
    height: 30px;
}

.container-img {
    background-image: url('./media/banner.png');
    /* background-image: linear-gradient(to bottom, #5e5e5e, #4b4b4b, #393939, #282828, #181818); */
    width: 100%;
    height: 70vh;
}
.container-header header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    height: 3rem;
    color: rgb(209, 207, 207);
}
.container-header > header .selected {
    color: #ffffff;
}
/* body */
.body {
    top: -9rem;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #353535;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.body h1 {
    
    margin: 0 auto;
    color: #fff;
    font-size: 4rem;color: #FFF;
    text-shadow: 
             -2px -2px 0px #000, 
             -2px 2px 0px #000,      
              2px -2px 0px #000,    
              2px 0px 0px #000;
    margin-bottom: 1rem;
}
.body h2 {
    
    margin: 0 auto;
    color: #fff;
    font-size: 3rem;color: #FFF;
    text-shadow: 
             -2px -2px 0px #000, 
             -2px 2px 0px #000,      
              2px -2px 0px #000,    
              2px 0px 0px #000;
    margin-bottom: 1rem;
}
.body .body-info {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.body .body-info .capa {
    width: 35%;
    padding-left: 1rem;
}
.body .body-info .capa img {
    width: 100%;
}
.body .body-info .info {
    width: 65%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info .info-item {
    color: #fff;
}

.info .info-item label {
    display: inline-block;
    width: 100px;
    color: #fff;
}

.info .info-item span {
    display: inline-block;
    width: 300px;
    color: #BEBEBE;
}
.info-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 2rem;
}
.info-summary h2 {
    color: #A6A3A3;
}
.info-summary p {
    color: #fff;
    text-align: justify;
}
/* form */
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.body-form {
    margin-bottom: 2rem;
    width: 60%;
}
.form h3 {
    color: #A6A3A3;
}
.form > label {
    color: #fff;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.form .form-item {
    display: flex;
    flex-direction: column;
}
.form .form-item > label {
    color: #fff;
    margin-top: .5rem;
}
.form .form-item > input {
    border: none;
    border-radius: 12px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 30px;
}
.body-form > button {
    background-color: #48BB78;
    margin-top: 1.5rem;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 7px;
    transition: 1s;
}
.body-form > button:hover {
    background-color: #2F855A;
    
}

/* styles page persons.html */
.body-info-person {
    display: flex;
    flex-direction: column;
}

.body-info-person h3 {
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #fff;
}
.container-persons {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.container-persons .person-item {
    display: flex;
    height: auto;
    color: #fff;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    filter: blur(0px);
}
.show {
    opacity: 1 !important;
    animation: scaleIn .3s;
}
.hidden {
    opacity: 0;
    transition: all 1s;
}

.container-persons .show {
    opacity: 1 !important;
    animation: scaleIn .3s;
}
.container-persons .hidden {
    opacity: 0;
    transition: all 1s;
}

.container-persons .active-item {
    display: flex;
    transition: 1s ease-in-out;
}

.container-persons .person-item .person-infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    text-align: justify;
    height: auto;
}

/* styles page seasons.html */
.body-info-seasons {
    display: flex;
    flex-direction: column;
}
.body-info-seasons h3 {
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 2rem;
}

/* styles page memes.html */
.body-info-memes {
    display: flex;
    flex-direction: column;
}
.body-info-memes h3 {
    margin: 0 auto;
    color: #fff;
    margin-bottom: 2rem;
}
.body-info-memes .container-memes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.body-info-memes .container-memes img {
    width: 80%;
}

/* styles curiosidades */

.body-info-curiosities {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #fff !important;
    text-align: justify;
}
.body-info-curiosities > #title {
    color: #fff !important;
}
.body-info-curiosities h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.body-info-curiosities > p  span {
    display: block;
    margin-bottom: 1rem;
}
.img-item {
    display: flex;  
    justify-content: center; 
}
.img-item img {
    width: 90%;
    margin: 2rem 0;
}
/* seasons */
.container-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container-videos .video-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-videos .video-item label {
    color: #fff;
    font-size: 1.5rem;
}
/*  */
.body-whereWatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #fff;
}
.body-whereWatch h3 {
    margin-bottom: 2rem;
}
.body-whereWatch label {
    text-align: center;
    margin-bottom: 1.5rem;
}
.container-plataform {
    display: flex;
    flex-direction: row;
}
.container-plataform .item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.container-plataform .item img {
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
}
/* media queries */
@media (max-width: 1040px) {
  .body {
    width: 90%;
  }
  .body .body-info .info {
    display: flex;
    /* flex-direction: row; */
    width: 65%;
    height: 100%;
    padding-left: 2rem;
    /* gap: 1rem; */
    }
    .info {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .info .info-item {
        display: flex;
        flex-direction: column;
        width: 48%;
    }
    .info .info-item span {
        width: auto;
    }
    .info-item span {
        display: block;
        width: 50%;
    }
    .container-plataform {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 714px) {
    .container-videos .video-item iframe {
        width: 500px;
    }
    .container-header #header-menu-sidebar {
        display: flex;
    }
    .container-header #header-main {
        display: none;
    }
    .container-plataform img {
        width: 90%;
    }

    .body {
      width: 90%;
    }
    .body-info {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    .body-info .capa {
        width: 100%;
    }
    .body-info .capa img {
        width: 70%;
    }
    .body-info .info {
        margin-top: 2rem;
        width: 100% !important;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: row !important;

        /* background-color: black; */
    }
    .info-item {
        padding: 0px;
        margin: 0px;
        display: flex;
        gap: 0;
        width: 30% !important;
    }
    .form  {
        display: flex;
        justify-content: center;
    }
    
  }
  @media (max-width: 600px) {
    .container-videos .video-item iframe {
        width: 400px;
    }
    .body {
        top: -20rem;
    }
    #body-seasons {
        width: 100%;
    }
    .container-persons .person-item {
        flex-direction: column;
    }
}